.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.block-list {
	margin-left: -10px;
	margin-right: -10px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.block-list .block-photo {
	width: 25%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.block-list .block-post .inner {
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0.5px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0.5px 1px rgba(0,0,0,0.5);
}

.thumb a {
	display: block;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 180px;
}

.thumb a img {
	height: 100%;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.author {
	padding-top: 10px;
}

.author h4 {
	color: #99A3AD;
	font-size: 13px;
}

.tag-list .tag-item {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}

.tag-list .tag-item span {
	display: block;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	color: rgba(0,0,0,0.6);
	background: rgba(0,0,0,0.05);
}

.box {
	padding-bottom: 10px;
}